.navbutton {
  border-radius: 100px;
  color: white;
  background-color: var(--mantine-color-myblue-5);
  font-family: Anton;

  &:hover {
    color: var(--mantine-color-myblue-5);
    background-color: white;
  }
}

.navlinkbutton {
  border-radius: 100px;
  color: white;
  background-color: var(--mantine-color-myblue-5);
  font-family: Anton;
  font-weight: 700;

  &:hover {
    color: var(--mantine-color-myblue-5);
    background-color: white;
  }
}

.antontext {
  font-family: Anton;
  letter-spacing: 0.03rem;
  font-size: 2rem;
  color: white;
  font-weight: 900;
}

.stravaLogo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  max-width: 240px;
}

@media (max-width: 768px) {
  .stravaLogo {
    max-width: 180px;
  }
}

@media (max-width: 480px) {
  .stravaLogo {
    max-width: 120px;
  }
}
